@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sansita&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: white;
  font-weight: bold;
  align-items: center;
  text-align: center;

}
a {
    color: white;
    text-decoration: none;
    background-color: #46ad94;
  }  
  
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    font-weight: bold;
    background: #46ad94;
    height: 8vh;
  }
  
.nav-list {
    list-style: none;
    display: flex;
    background-color: #46ad94;
  }
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    background-color: #46ad94;
  }

.nav-list p {
  background-color: #46ad94;
}



.container {
    width: 80%;
    font-family: Poppins;
    margin-top: 30px;
    margin-left: 100px;
    flex-direction: column;
  }

.titulos{
    margin-bottom: 20px;
}
.titulos h1 {
    color: #ab3454;
    font-size: 30px;
    text-align: center;
}
.titulos h1:hover {
    color: #46ad94;
    transition: 0.3s;
}
.titulos p{
    font-size: 23px;
    color: #000;
    font-family:Poppins;
    font-weight: bold;
    
}
.p {
    font-family: Poppins;
    font-weight: bold;
}

/*FIM CONTAINER DA PAG*/

    /* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 10%;
} 

#check{
    display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
    display: grid;
    align-items: center;
}

/* Elemento de tag <body> */
body{
    background-color: #000;
    font-family: sans-serif;
    font-size: 1em;
    color: #000;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: Poppins;
    font-size: 1em;
    color: #000;
    border-radius: 5px;
    background-color: white;
    background: white;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: black;
    display: block;
    font-weight: bold;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
    flex-direction: column;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 2px solid #ab3454;
    box-shadow: 2px 2px 2px #ab3454;
    display: block;
    background-color: white;
    display: initial;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao3 {
    font-size: 1.2em;
    background: #abd699;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #abd699;
    text-shadow: 1px 1px 1px #46ad94;
    position: absolute;
    margin-bottom: -310px;
    margin-left: 170px;
}

.botao2 {
    font-size: 1.2em;
    background: #abd699;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #abd699;
    text-shadow: 1px 1px 1px #46ad94;
    position: absolute;
    margin-bottom: -310px;
    margin-left: 10px;
}
.botao1 {
    font-size: 1.2em;
    background: #abd699;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #abd699;
    text-shadow: 1px 1px 1px #46ad94;
    position: absolute;
    margin-bottom: -310px;
    margin-left: 10px;
}

.botao4 {
    font-size: 1.2em;
    background: #abd699;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #abd699;
    text-shadow: 1px 1px 1px #46ad94;
    position: absolute;
    margin-bottom: -310px;
    margin-left: 10px;
}


/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao1:hover {
    background: #ab3454;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao2:hover {
    background: #ab3454;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao3:hover {
    background: #ab3454;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}