@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sansita&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: white;
  font-weight: bold;
  align-items: center;
  text-align: center;

}
a {
    color: white;
    text-decoration: none;
    background-color: #46ad94;
  }  
  
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    font-weight: bold;
    background: #46ad94;
    height: 8vh;
  }
  
.nav-list {
    list-style: none;
    display: flex;
    background-color: #46ad94;
  }
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    background-color: #46ad94;
  }

.nav-list p {
  background-color: #46ad94;
}



.container {
    width: 80%;
    font-family: Poppins;
    margin-top: 30px;
    margin-left: 100px;
    flex-direction: column;
  }

.titulos{
    margin-bottom: 20px;
}
.titulos h1 {
    color: #ab3454;
    font-size: 30px;
    text-align: center;
}
.titulos h1:hover {
    color: #46ad94;
    transition: 0.3s;
}
.titulos p{
    font-size: 23px;
    color: #000;
    font-family:Poppins;
    font-weight: bold;
    
}
.p {
    font-family: Poppins;
    font-weight: bold;
}

/*FIM CONTAINER DA PAG*/

.container {
    position: relative;
    width: 100%;
  
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
}
.column {
    margin-bottom: 1.5rem;
    width: 100%;
    float: left;
    box-sizing: border-box; 
}
  
@media (min-width: 640px) {
    .container {
      width: 90%;
      padding: 0; }
    .column {
      margin-left: 4%; }
    .column:first-child {
      margin-left: 0; }
  
    .full-width.column              { width: 100%; margin-left: 0; }  
  
    .one-half.column                { width: 48%; }
  
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
  
    .one-quarter.column             { width: 22%; }
    .two-quarter.column             { width: 48%; }
    .three-quarter.column           { width: 74%; }
  
    .one-half.column                { width: 48%; }
  
              
  
}
  
.container:after,
.row:after,
.clearfix {
content: "";
display: table;
clear: both; }
  
  
body {
    font-family: Poppins;
    font-size: 16px;
    color: #000;
    background-color: white;
    margin: 0;
    font-weight: bold;
}
  
h1, h2, h3, h4 {
    font-family: Poppins;
    color: #ab3454;
    margin-top: 0;
}
  
h1 {
    font-size: 54px;
}
  
h2 {
    font-size: 36px;
}
  
h3 {
    color: #ab3454;
    font-size: 26px;
}
h3:hover {
    color: #abd699;
    transition: 0.3s;
}
  
h2:hover {
    color: #abd699;
    transition: 0.2s;
}
  
  
  
.center {
    text-align: center;
}
  
.questions_box {
    background-color: #46ad94;
    padding: 20px;
    text-align: left;
    max-width: 960px;
    width: 630px;
    margin-top: 20px;
    margin-left: 150px;
}
  
.button {
    font-family: Poppins;
    margin: 10px 0 0 0;
    float: right;
    cursor: pointer;
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    line-height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: baseline;
    background: #ab3454;
    color: white;
    display: inline-block;
   
}
  
.button:hover {
    background-color: #abd699;
    color: white;
}
  
#question-2, #question-3, #question-4, #question-5, #question-6{
    display: none;
}
  
#progress_bar {
    background-color: #abd699;
    width: 20%;
    height: 10px;
    transition: all 100ms ease-in-out;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: -20px;
}
  