.destino {
    text-align: center;
    font-size: 0.9em;
    margin: 20px;
    padding: 20px;
}
body {
    background-color: white;
}

.frame {
    width: 300px;
    background-color: #75c9b7;
    padding: 20px;
    align-items: center;
    color: #AB3454;
}
.container frame  {
    text-align: center;
    display: flex;
    margin: 20px;
    justify-content: center;
}
.destino h3 {
    color: #AB3454;
}

