 /* ESTILIZANDO A PÁGINA DE LOGIN*/
 
.frame-p h1 {
    font-size: 40px;
    color: #AB3454;
    font-family: Poppins;
    display: flex;
    text-align: center;
    margin-left: 150px;
    
}
  
.frame-p p {
  font-family: Poppins;
  color: #fff;
  font-weight:bolder;
  margin-left: 150px;
  text-align: center;
  justify-content: center;
}
  
.frame {
    width: 120%;
    display: flex;
    align-items: center;
    background-color: #46ad94;
    padding: 1rem;
}

.form-frame{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #75c9b7;
  padding: 3rem;

}

.title h1{
  font-size: 25px;
  color: #AB3454;
  text-align: center;
  margin-left: 60px;
}

.frame-header {
  margin-bottom: 3rem;
  display: flex;
  text-align: center;
}

.login-btn {
  display: flex;
  align-items: center;
}

.login-btn button {
  border: none;
  background-color: #abd699;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn button:hover {
  background-color: #AB3454;
}

.login-btn button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.frame-header h1::after {
  content: '';
  display: block;
  width: 7rem;
  height: 0.3rem;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
  flex-direction: column;

}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #46ad94;
  font-size: 0.8rem;
  width: 170px;
  display: flex;
  flex-direction: column;
  
}

.input-box input:hover {
  background-color: #abd699;
}

.input-box input:focus-visible {
  outline: 1px solid white;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 .5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.enter button {
  width: 100%;
  border:#AB3454;
  background-color: #abd699;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.enter button:hover {
  background-color: #AB3454;
}

.enter button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}
footer {
    text-align: center;
    padding: 1px;
    background-color: white;
}
.copyright{
    color: black;
    font-size: 13px;
    margin: 20px 0;
  }
  
